*,
html {
  overflow-x: hidden;
}

.TopCardOne {
  background-color: #0077b6;
}
.TopCardTwo {
  background-color: #0096c7;
}
.TopCardThree {
  background-color: #00b4d8;
}
.TopCardFour {
  background-color: #48cae4;
}

.roomsCard1 {
  background-color: #0077b6;
}
.roomsCard2 {
  background-color: #0096c7;
}
.roomsCard3 {
  background-color: #00b4d8;
}

