*,html{
  overflow-x: hidden;
}

.TopCardOne {
  background-color: #fff1d8;
}
.TopCardTwo {
  background-color: #ffeee6;
}
.TopCardThree {
  background-color: #edfeed;
}
.TopCardFour {
  background-color: #fff1d8;
}
.roomCard1{
  background-color:aquamarine;

}
.roomCard2{
  background-color:aquamarine;

}
.roomCard3{
  background-color:aquamarine;

}
