.TopCardOne {
  background-color: #0077b6;
}
.TopCardTwo {
  background-color: #0096c7;
}
.TopCardThree {
  background-color: #00b4d8;
}
.TopCardFour {
  background-color: #48cae4;
}

.Total {
  background-color: #0077b6;
}
.Boys {
  background-color: #0096c7;
}
.Girls {
  background-color: #00b4d8;
}

